// Colors
$color-primary: #495E57;
$color-secondary-main: #F4CE14;
$color-secondary-1: #EE9972;
$color-secondary-2: #FBDABB;
$color-highlight-light: #EDEFEE;
$color-highlight-dark: #333333;
$color-white: #FFFFFF;

// Typography
$font-primary: "Markazi Text", serif;
$font-secondary: "Karla", sans-serif;

$font-size-large: 40pt;
$font-size-medium: 18pt;
$font-size-regular: 16pt;
$font-size-small: 12pt;

// Line height
$line-height-regular: 1.5;

// Rounded Corners
$border-radius: 16px;