@import './variables';

.booking-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .booking-content {
    background: $color-white;
    padding: 1.5em; // Reduce padding to make the modal more compact
    border-radius: $border-radius;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 400px;
    width: 90%; 

    h2 {
      margin-top: 0;
      color: $color-primary;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        margin-bottom: 0.75em; // Reduce margin-bottom to make the form more compact
        font-size: $font-size-regular;
        color: $color-highlight-dark;
        width: 100%;

        input,
        select {
          width: 100%;
          padding: 0.5em;
          margin-top: 0.25em; // Reduce margin-top to make the form more compact
          border: 1px solid $color-highlight-dark;
          border-radius: $border-radius;
          font-size: $font-size-regular;
        }
      }

      .button {
        margin-top: 1em;
        align-self: flex-end;
      }
    }

    .close-button {
      position: absolute;
      top: 0.5em; // Adjust top position to make the modal more compact
      right: 0.5em; // Adjust right position to make the modal more compact
      background: none;
      border: none;
      font-size: 1.5em;
      cursor: pointer;
      color: $color-highlight-dark;
    }
  }
}

@media (max-width: 768px) {
  .booking-content {
    padding: 1em;

    form {
      label {
        font-size: $font-size-small;

        input,
        select {
          font-size: $font-size-small;
        }
      }

      .button {
        font-size: $font-size-small;
      }
    }
  }
}
