@import './variables';

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-primary;
  color: $color-white;
  height: 260px;
  padding: 20px;
  gap: 14em;
  box-sizing: border-box;

  .hero-content {

    h1 {
      color: $color-secondary-main;
      margin: 0;
      line-height: .5;
    }

    h2 {
      color: $color-white;
      margin: 0;
      margin-bottom: 10px;
    }

    p {
      font-size: $font-size-regular;
      margin: 0;
      max-width: 30ch;
    }

    .button {
      margin-top: 20px;
    }
  }

  .hero-image {
    padding-top: 4em;

    img {
      width: 260px;
      height: 280px;
      object-fit: cover;
      border-radius: $border-radius;
    }
  }
}